# Javascript Node CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-javascript/ for more details
#
version: 2.1
commands:
  early_return_for_forked_pull_requests:
    description: >-
      If this build is from a fork, stop executing the current job and return success.
      This is useful to avoid steps that will fail due to missing credentials.
    steps:
      - run:
          name: Early return if this build is from a forked PR
          command: |
            if [ -n "$CIRCLE_PR_NUMBER" ]; then
              echo "Nothing to do for forked PRs, so marking this step successful"
              circleci step halt
            fi

jobs:
  build:
    docker:
      - image: circleci/node:10.15
      
      - image: redislabs/redisgraph:edge
      
    working_directory: ~/repo

    steps:
      - checkout

#       # Download and cache dependencies
#       - restore_cache:
#           keys:
#           - v1-dependencies-{{ checksum "package.json" }}
#           # fallback to using the latest cache if no exact match is found
#           - v1-dependencies-

      - run: npm install

#       - save_cache:
#           paths:
#             - node_modules
#           key: v1-dependencies-{{ checksum "package.json" }}


      # generate types
      - run: npm run types

      # run tests!
      - run: sudo npm install -g istanbul codecov
      - run: istanbul cover ./node_modules/mocha/bin/_mocha -- -R spec --exit 
      - early_return_for_forked_pull_requests
      - run: codecov -t ${CODECOV_TOKEN}

  docs:
    docker:
        - image: circleci/node:10.15
  
    working_directory: ~/repo
    
    steps:
      - checkout
      - add_ssh_keys:
          fingerprints:
            - "76:ad:7c:fa:32:41:29:d0:cc:f6:63:06:62:b6:54:9c"     
      - run:
          name: Install and configure dependencies
          command: |
            npm install --only dev
            git config user.email "ci-build@redisgraph.io"
            git config user.name "ci-build"
      - run:
          name: Create docs with jsdoc
          command: npm run docs
      - run:
          name: Deploy docs to gh-pages branch
          command: gh-pages --dist ./docs --branch master --dest ./docs --message "[skip ci] Updates"

workflows:
  version: 2
  commit:
    jobs:
      - build
      - docs:
          requires:
            - build
          filters:
            branches:
              only: master

  nightly:
    triggers:
      - schedule:
          cron: "0 0 * * *"
          filters:
            branches:
              only:
                - master
    jobs:
      - build
